<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Feditest Test Report</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        >
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/feditest.css">
    </head>
    <body>
{%  include "testrun-transcript-title.jinja2" %}
        <nav class="matrix">
            <ul>
                <li><a href="#summary">Summary</a></li>
                <li><a href="#results">Results</a></li>
                <li><a href="#metadata">Metadata</a></li>
            </ul>
        </nav>
        <div id="summary" class="feditest module summary">
            <h2>Test Run Summary</h2>
{%  include "testrun-transcript-summary.jinja2" %}
        </div>
        <div id="results" class="feditest module results">
{%  with session_links=true %}
            <h2>Test Results</h2>
{%      include "partials/test_matrix/table.jinja2" %}
{%  endwith %}
        </div>
        <div id="metadata" class="feditest module metadata">
            <h2>Test Run Metadata</h2>
{%  include "testrun-transcript-metadata.jinja2" %}
        </div>
{%   include "standalone-report-footer.jinja2" %}
    </body>
</html>
