<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 2rem !important;
            padding-right: 2rem;
        }

        .status.passed {
            color: lightgreen;
        }

        .status.failed {
            color: pink;
        }

        .session {
            margin-bottom: 1rem;
        }

        .session > .name {
            font-weight: bold;
            color: lightblue;
        }

        .session > .name::before {
            content: "Session: ";
        }

        .constellation {
            margin-left: 1rem;
        }

        .constellation > .name::before {
            content: "Constellation: ";
        }

        .roles {
            display: flex;
            gap: 1rem;
            margin-left: 1rem;
        }

        .role > .name {
            font-weight: bold;
        }

        .role > .name::before {
            content: "Role: ";
        }

        .role > .driver::before {
            content: "Driver: ";
        }

        .role > table.parameters {
            font-size: 0.8rem;
        }
    </style>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <title>Feditest Test Report</title>
</head>
<body>
    <h1>Feditest Report</h1>
    <h2>Test Summary</h2>
    {% include "test_summary.jinja2" %}
    {% with session_links=true %}
    <h2>Test Results</h2>
    {% include "test_matrix.jinja2" %}
    {% endwith %}
    <h2>Session Details</h2>
    {% include "session_details.jinja2" %}
</body>
</html>
