<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Feditest Test Report</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        >
        <style>
{%  include "standalone-report-css-common.jinja2" %}
div.feditest.tests {
    overflow: auto;
    position: relative;
}
div.feditest.tests div.roles dd {
    font-weight: normal;
}

div.feditest.tests .namedesc > span {
    display: block;
}
div.feditest.tests .namedesc > span.name {
    font-weight: bold;
}

.feditest .role > table.parameters {
    font-size: 0.8rem;
}

.feditest dl.roles {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 70%;
}

.feditest dl.roles dt::after {
    content: ": ";
}

.feditest dl.roles dd {
    margin-left: 0;
    font-weight: normal;
}

.feditest table.tests {
    overflow: scroll;
    border-collapse: collapse;
}

.feditest table.tests td:first-child,
.feditest table.tests th:first-child {
    position: sticky;
    left: 0;
}

.feditest table.tests col.session {
    border: 2px solid var(--pico-contast);
}
        </style>
    </head>
    <body>
{%  include "testrun-transcript-title.jinja2" %}
        <div class="feditest module summary">
            <h2>Test Run Summary</h2>
{%  include "testrun-transcript-summary.jinja2" %}
        </div>
        <div class="feditest module results">
{%  with session_links=true %}
            <h2>Test Results</h2>
{%      include "testrun-transcript-testmatrix.jinja2" %}
{%  endwith %}
        </div>
        <div class="feditest module session-details">
            <h2>Session Details</h2>
{%  include "testrun-transcript-session-details.jinja2" %}
        </div>
        <div class="feditest module metadata">
            <h2>Test Run Metadata</h2>
{%  include "testrun-transcript-metadata.jinja2" %}
        </div>
{%   include "standalone-report-footer.jinja2" %}
    </body>
</html>
