    <table class="feditest summary">
       <thead>
            <tr>
                <th>Status</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Passed</th>
                <td>{{ summary.n_passed }}</td>
            </tr>
            <tr>
                <th>Failed</th>
                <td>{{ summary.n_failed }} (hard: {{ summary.n_hard_failed }}, soft: {{ summary.n_soft_failed }}, degrade: {{ summary.n_degrade_failed }})</td>
            </tr>
            <tr>
                <th>Skipped</th>
                <td>{{ summary.n_skipped }}</td>
            </tr>
            <tr>
                <th>Errors</th>
                <td>{{ summary.n_errored }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Total</th>
                <td>{{ summary.n_total }}</td>
            </tr>
        </tfoot>
    </table>
