    <h1><a href="https://feditest.org/">Feditest</a> Report: {{ run }}</h1>
    <div class="feditest module summary">
    <h2>Test Run Summary</h2>
{%  include "testrun-transcript-summary.jinja2" %}
    </div>
    <div class="feditest module results">
{%  with session_links=true %}
        <h2>Test Results</h2>
{%      include "testrun-transcript-sequential.jinja2" %}
{%   endwith %}
    </div>
